*.csv
*.gz
*.pkl
*.swp
*.pth
*.npz
*/.ipynb_checkpoints/*
*.zip
*.txt
*.jpg
*.bin
*.mp4
.ipynb_checkpoints
.idea/
*.so
*wandb*
./data
./model
.DS_Store
__pycache__/
~                                                                                                                                                                       
~    
